@import "tailwindcss";

@theme {
  --color-primary: #e26a35;
  --color-primary-hover: #c95b2b;
  
  --color-background: #121212;
  --color-surface: #1e1e1e;
  --color-surface-hover: #2a2a2a;
  
  --color-text-main: #f5f5f5;
  --color-text-muted: #a0a0a0;
  
  --color-border: #333333;
}

@layer base {
  html, body {
    @apply bg-background text-text-main antialiased m-0 p-0;
    font-family: 'Inter', system-ui, sans-serif;
  }
}